/*-----мои стили-----*/
/*.todolistMain {
    display: flex;
    justify-content: center;
    padding: 30px;
    flex-wrap: wrap;
}
.todolistMain > div {
    width: 350px;
}

.todolistHeader {
    text-align: center;
    margin-top: 30px;
}

.inputClass {
    margin-right: 5px;
    border: 1px solid black;
}
.inputError {
    margin-right: 5px;
    border: 2px solid red;
}
.spanError {
    color: red;
    height: 25px;
}

.filterAll {
    background-color: gray;
    color: white;
    padding: 5px;
}
.filterActive {
    background-color: red;
    color: white;
    padding: 5px;
}
.filterCompleted {
    background-color: darkorange;
    color: white;
    padding: 5px;
}
.filterNone {
    padding: 5px;
}*/

/*button {
    margin: 3px;
}*/
/*.inputBox {
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
}*/


/*-----для Material UI-----*/
/*-----TodolistMain-----*/
.todolistPaper {
    padding: 15px;
    width: 350px;
    margin: 20px 0;
}

/*-----Todolist-----*/
h3 {
    display: flex;
    justify-content: center;
    align-items: center;
}
.filterButtons {
    margin: 10px;
    text-align: center;
}

/*-----Task-----*/
li {
    list-style-type: none;
}
.isDoneTask {
    opacity: 0.5;
}
/*.noTasksList {
    color: red;
    font-size: 50px;
    text-align: center;
    margin-top: 50px;
}*/
.noTasks {
    font-size: 16px;
    font-weight: bold;
    color: orange;
    text-align: center;
    margin: 5px 0;
}
.todoEnd {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: orange;
}

.taskItem {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.taskText {
    word-wrap: break-word;
    width: 200px;
}

/*-----AddItemForm-----*/
.addItemForm {
    display: flex;
    justify-content: center;
    align-items: center;
}

/*-----EditableSpan-----*/
.textSpan {
    word-wrap: break-word;
    width: 300px;
    /*margin-left: 15px;*/
}
.editableSpan {
    width: 300px;
}