.todolistMain {
    display: flex;
    justify-content: center;
    padding: 30px;
    flex-wrap: wrap;
}
.todolistMain > div {
    width: 300px;
}

.todolistHeader {
    text-align: center;
    margin-top: 30px;
}

.inputClass {
    margin-right: 5px;
    border: 1px solid black;
}
.inputError {
    margin-right: 5px;
    border: 2px solid red;
}
.spanError {
    color: red;
    height: 25px;
}

.filterAll {
    background-color: gray;
    color: white;
    padding: 5px;
}
.filterActive {
    background-color: red;
    color: white;
    padding: 5px;
}
.filterCompleted {
    background-color: darkorange;
    color: white;
    padding: 5px;
}
.filterNone {
    padding: 5px;
}
.isDoneTask {
    opacity: 0.5;
}
.noTasksList {
    color: red;
    font-size: 50px;
    text-align: center;
    margin-top: 50px;
}
.noTasks {
    font-size: 16px;
    font-weight: bold;
    color: orange;
}

ul {
    /*list-style-position: inside;*/
}
button {
    margin: 3px;
}